.navManu{
    border-radius: 2px;
    width: 20%;
    padding: 5px;
    justify-content: center;
    align-content: center;
    background-color: lightgray;
}

.navManu ul {
    height: 100%;
    margin-top: 5vh;
}

.navManu li{
    list-style: none;
    margin: 5px;
}
