body{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

th,td{
    border-style: solid;
}

#body{
    margin-top:1%;
    margin-bottom:1%;
    margin-left:2%;
    margin-right:2%;
}

#search_document{
    font-size: 30px;
    width: 300px;
}

a:hover{
    text-decoration: none;
}