body{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}

*{
    color: rgb(95, 95, 95);
    /* text-shadow: 
    -1px 0  rgb(255, 255, 255),
     0 1px  rgb(255, 255, 255), 
     1px 0 rgb(255, 255, 255), 
     0 -1px rgb(255, 255, 255);  */
     /* font-size: 20px */
}

th,td{
    border-style: solid;
    font-size: 14px
}
th{
    background-color: #EAA965;
    border-color: rgb(75, 75, 75);
}
hr{
    border-color: rgb(155, 155, 155);
}
h1{
    font-weight: 900;
    color: #4d4d4d;
}

/* #body{
    margin-top:1%;
    margin-bottom:1%;
    margin-left:2%;
    margin-right:2%;
} */

#search_document{
    font-size: 30px;
    width: 300px;
}

a:hover{
    text-decoration: none;
}

/*add css by koa */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.slidebrand{
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 30px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  /* padding: 16px; */
}

@media screen and (max-height: 450px) {
  .sidenav {
      padding-top: 15px;
  }

  .sidenav a {
      font-size: 10px;
  }
}