body{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

*{
    color: rgb(95, 95, 95);
    /* text-shadow: 
    -1px 0  rgb(255, 255, 255),
     0 1px  rgb(255, 255, 255), 
     1px 0 rgb(255, 255, 255), 
     0 -1px rgb(255, 255, 255); */
     font-size: 20px
}

th,td{
    border-style: solid;
    font-size: 14px
}
th{
    background-color: #EAA965;
    border-color: rgb(75, 75, 75);
}
hr{
    border-color: rgb(155, 155, 155);
}
h1{
    font-weight: 900;
    color: #4d4d4d;
}

#body{
    margin-top:1%;
    margin-bottom:1%;
    margin-left:2%;
    margin-right:2%;
}

#search_document{
    font-size: 30px;
    width: 300px;
}

a:hover{
    text-decoration: none;
}